# 🌐 NETWORK SETTINGS
# Change this line whenever you switch Wi-Fi
MY_LOCAL_IP=192.168.1.6

BACKEND_PORT=5073
FRONTEND_PORT=3000

# 💳 STRIPE CONFIGURATION
Stripe__SecretKey=sk_test_...
Stripe__WebhookSecret=whsec_...
Stripe__Currency=myr

# DYNAMIC REDIRECTS: Uses your local IP so your phone can return to the app
Stripe__SuccessUrlBase=http://${MY_LOCAL_IP}:${FRONTEND_PORT}
Stripe__CancelUrlBase=http://${MY_LOCAL_IP}:${FRONTEND_PORT}

#1. create stripe account
#2. install stripe cli https://docs.stripe.com/stripe-cli/install?install-method=apt
#3. in ur terminal type stripe login
#4. after login, copy ur secret key into env local
#5. for webhook secret, open new terminal and enter stripe listen --forward-to http://localhost:5073/api/payments/webhook then copy webhook secret to env local, keep it running
