Stripe__SecretKey=sk_test_... #get from jaren if u dont have
Stripe__WebhookSecret=whsec_...#get from jaren if u dont have
Stripe__SuccessUrlBase=http://localhost:3000 
Stripe__CancelUrlBase=http://localhost:3000
Stripe__Currency=myr