Stripe__SecretKey=sk_test_... #get from jaren if u dont have
Stripe__WebhookSecret=whsec_...#get from jaren if u dont have
Stripe__SuccessUrlBase=http://localhost:3000 
Stripe__CancelUrlBase=http://localhost:3000
Stripe__Currency=myr

#1. create stripe account
#2. install stripe cli https://docs.stripe.com/stripe-cli/install?install-method=apt
#3. in ur terminal type stripe login
#4. after login, copy ur secret key into env local
#5. for webhook secret, open new terminal and enter stripe listen --forward-to http://localhost:5073/api/payments/webhook then copy webhook secret to env local, keep it running
