# sample .env.local file for frontend development
# Copy this file to .env.local and update the values as needed
API_URL=http://192.168.1.6:5073
NEXT_PUBLIC_API_URL=http://192.168.1.6:5073
NEXT_PUBLIC_DEV_ORIGINS=localhost,127.0.0.1,192.168.1.6